In [ ]:
#Importamos librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:

from google.colab import files
files.upload()

In [ ]:
#hacemos data frame el archivo importadp
data=pd.read_excel('microretailer_mit_lift_lab.xlsx')
data

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,228_store_name,229_store_picture,232_type_of_store,...,261_technology_organization,262_technology_serve_customers,263_technology_secure_sales,264_technology_budget,267_technology_investment_customer_preferences,234_willingness_participate_workshop,318_shopkeeper_name,319_shopkeepers_last_name,236_whatsapp,235_email
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),19.053536,-98.233822,Eugene’s Compostura,1 Photo,Tailor,...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),19.053561,-98.234142,Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),19.058655,-98.232300,Libélula,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),19.059293,-98.233158,Quality fix,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),19.059585,-98.233864,Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,no,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2413f06e-15cc-4a6f-8e83-5224c6824b12,"November 3, 2022",2022-11-03 16:50:48 UTC,Emilio Garza,SRID=4326;POINT(-98.1940658722 19.0431145635),19.043115,-98.194066,July Store,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,962bf5a6-1eff-4874-a627-9cd8e3ca27b4,"November 3, 2022",2022-11-03 16:28:15 UTC,Emilio Garza,SRID=4326;POINT(-98.1938023854 19.0427938182),19.042794,-98.193802,Miscelánea rubí,1 Photo,Grocery store (aka. nanostore),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,9ff658db-4dc5-48b6-aa0b-5c6668bb6720,"November 3, 2022",2022-11-03 16:28:14 UTC,Emilio Garza,SRID=4326;POINT(-98.1934387078 19.0428094171),19.042809,-98.193439,La fonda,1 Photo,Micro-restaurant (aka. fondita),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,e88aa9c1-dc8b-4180-99a1-2e0118ad905d,"November 3, 2022",2022-11-03 16:18:37 UTC,Francisco Adán,SRID=4326;POINT(-98.193818 19.042558),19.042558,-98.193818,"Birria de Res ""Hermanos Negreros 2"" estilo Tij...",1 Photo,Micro-restaurant (aka. fondita),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,bf720ff0-3b7d-47ed-ba49-f5d4bfb7293c,"November 3, 2022",2022-11-03 16:15:13 UTC,Emilio Garza,SRID=4326;POINT(-98.1937349172 19.0428229892),19.042823,-98.193735,Restaurante el alfeñique,1 Photo,Micro-restaurant (aka. fondita),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#verificamos informacion del data frame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Columns: 106 entries, _record_id to 235_email
dtypes: float64(23), int64(2), object(81)
memory usage: 141.7+ KB

In [ ]:
data.dtypes

_record_id                               object
_title                                   object
_server_updated_at                       object
_updated_by                              object
_geometry                                object
                                         ...
234_willingness_participate_workshop     object
318_shopkeeper_name                      object
319_shopkeepers_last_name                object
236_whatsapp                            float64
235_email                                object
Length: 106, dtype: object

In [ ]:
#corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

_record_id                                0
_title                                    0
_server_updated_at                        0
_updated_by                               0
_geometry                                 0
                                       ...
234_willingness_participate_workshop     73
318_shopkeeper_name                     123
319_shopkeepers_last_name               125
236_whatsapp                            129
235_email                               142
Length: 106, dtype: int64

In [ ]:
#Al ser una gran cantidad de datos reemplazemos los valores nulos con "bfill"
data2=data.fillna(method='bfill')
data2

In [ ]:
#verificamos nuestros valores nulos
valores_nulos1=data2.isnull().sum()
valores_nulos1

_record_id                              0
_title                                  0
_server_updated_at                      0
_updated_by                             0
_geometry                               0
                                       ..
234_willingness_participate_workshop    5
318_shopkeeper_name                     5
319_shopkeepers_last_name               5
236_whatsapp                            5
235_email                               5
Length: 106, dtype: int64

In [ ]:
#realizamos ahora un filtro por columnas de las que son de tipo cuantitativas 
datoscuantitativos=data2.iloc[ : , [5,6,13,14,16,21,22,31,42,49,51,59,29,33,78,90]]
datoscuantitativos

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,19.053536,-98.233822,2,0.0,4,2.0,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,19.053561,-98.234142,0,4.0,8,1.0,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,19.058655,-98.232300,0,0.0,24,2.0,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,19.059293,-98.233158,0,0.0,2,1.0,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,19.059585,-98.233864,0,0.0,16,0.0,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,19.043115,-98.194066,1,0.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,19.042794,-98.193802,1,5.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,19.042809,-98.193439,3,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,19.042558,-98.193818,0,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,19.042823,-98.193735,1,3.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

#corroboramos valores nulos
valores_nulos=datoscuantitativos.isnull().sum()
valores_nulos

_latitude                                             0
_longitude                                            0
97_number_of_customers_in_store                       0
268_number_fridges                                    0
104_how_many_shelves_does_the_micro_retailer_have     0
2_current_permanent_employees                         5
4_number_permanent_employees_last_year                8
145_number_direct_competitors                         5
272_card_days_receive_money                           5
276_expected_days_informal_credit                    12
36_credit_default_rate                               12
62_frequency_only_services                            5
103_number_own_fridges                                9
24_burnout                                            9
172_supplier_frequency                                5
163_number_high_perishable_products                   5
dtype: int64

In [ ]:
#reemplazamos valores nulos del dataframe con mean
#realizamos una copia del dataframe
data3=datoscuantitativos.copy()
data3=data3.fillna(round(data.mean(),1))
data3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,19.053536,-98.233822,2,0.0,4,2.0,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,19.053561,-98.234142,0,4.0,8,1.0,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,19.058655,-98.232300,0,0.0,24,2.0,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,19.059293,-98.233158,0,0.0,2,1.0,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,19.059585,-98.233864,0,0.0,16,0.0,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,19.043115,-98.194066,1,0.0,5,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
167,19.042794,-98.193802,1,5.0,5,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
168,19.042809,-98.193439,3,1.0,1,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
169,19.042558,-98.193818,0,1.0,1,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
170,19.042823,-98.193735,1,3.0,1,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6

In [ ]:
#corroboramos valores nulos y ahora ya no tendremos
valores_nulos=data3.isnull().sum()
valores_nulos

_latitude                                            0
_longitude                                           0
97_number_of_customers_in_store                      0
268_number_fridges                                   0
104_how_many_shelves_does_the_micro_retailer_have    0
2_current_permanent_employees                        0
4_number_permanent_employees_last_year               0
145_number_direct_competitors                        0
272_card_days_receive_money                          0
276_expected_days_informal_credit                    0
36_credit_default_rate                               0
62_frequency_only_services                           0
103_number_own_fridges                               0
24_burnout                                           0
172_supplier_frequency                               0
163_number_high_perishable_products                  0
dtype: int64

**DESVIACION ESTANDAR PARA ELIMINAR OUTLIERS EN DATAFRAME**

In [ ]:
#hacemos uso de desviacion estandar puesto que eliminarlos no es una solucion y permite ver que tan alejados estan los datos con la intencion de que no sea tan grande la diferencia
y=data3
Limite_superior=y.mean()+3*y.std()
Limite_inferior=y.mean()-3*y.std()
print('Limite superior permitido',Limite_superior)
print('Limite inferior permitido',Limite_inferior)

Limite superior permitido _latitude                                            19.111172
_longitude                                          -98.090304
97_number_of_customers_in_store                       6.591777
268_number_fridges                                   10.226491
104_how_many_shelves_does_the_micro_retailer_have    55.812917
2_current_permanent_employees                        13.647533
4_number_permanent_employees_last_year               12.419690
145_number_direct_competitors                        14.588325
272_card_days_receive_money                           2.783261
276_expected_days_informal_credit                    58.156685
36_credit_default_rate                                8.826415
62_frequency_only_services                           62.774749
103_number_own_fridges                               12.271742
24_burnout                                            9.932734
172_supplier_frequency                               10.636313
163_number_high_perishable_products                  64.101574
dtype: float64
Limite inferior permitido _latitude                                            18.979439
_longitude                                          -98.347635
97_number_of_customers_in_store                      -3.808151
268_number_fridges                                   -6.893157
104_how_many_shelves_does_the_micro_retailer_have   -42.397712
2_current_permanent_employees                       -10.027650
4_number_permanent_employees_last_year               -9.236064
145_number_direct_competitors                        -6.716980
272_card_days_receive_money                          -1.368056
276_expected_days_informal_credit                   -24.385925
36_credit_default_rate                               -5.537526
62_frequency_only_services                          -48.558375
103_number_own_fridges                               -8.663555
24_burnout                                           -2.215775
172_supplier_frequency                               -4.332219
163_number_high_perishable_products                 -42.393972
dtype: float64

In [ ]:
#encontramos outliers del dataframe
outliers=data3[(y>Limite_superior)|(y<Limite_inferior)]
outliers

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#obtenemos datos sin outliers
data4=data3[(y<=Limite_superior)&(y>=Limite_inferior)]
data4

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,19.053536,-98.233822,2.0,0.0,4.0,2.0,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,19.053561,-98.234142,0.0,4.0,8.0,1.0,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,19.058655,-98.232300,0.0,0.0,24.0,2.0,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,19.059293,-98.233158,0.0,0.0,2.0,1.0,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,19.059585,-98.233864,0.0,0.0,16.0,0.0,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,19.043115,-98.194066,1.0,0.0,5.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
167,19.042794,-98.193802,1.0,5.0,5.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
168,19.042809,-98.193439,3.0,1.0,1.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
169,19.042558,-98.193818,0.0,1.0,1.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
170,19.042823,-98.193735,1.0,3.0,1.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6

In [ ]:
#corroboramos valores nulos
valores_nulos=data4.isnull().sum()
valores_nulos

_latitude                                            0
_longitude                                           0
97_number_of_customers_in_store                      4
268_number_fridges                                   3
104_how_many_shelves_does_the_micro_retailer_have    3
2_current_permanent_employees                        1
4_number_permanent_employees_last_year               1
145_number_direct_competitors                        5
272_card_days_receive_money                          5
276_expected_days_informal_credit                    0
36_credit_default_rate                               0
62_frequency_only_services                           5
103_number_own_fridges                               5
24_burnout                                           0
172_supplier_frequency                               0
163_number_high_perishable_products                  9
dtype: int64

In [ ]:
#Reemplazamos valores atipicos del data frame con mean
data5=data4.copy()
data5=data5.fillna(round(data4.mean(),1))
data5

,_latitude,_longitude,97_number_of_customers_in_store,268_number_fridges,104_how_many_shelves_does_the_micro_retailer_have,2_current_permanent_employees,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,19.053536,-98.233822,2.0,0.0,4.0,2.0,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,19.053561,-98.234142,0.0,4.0,8.0,1.0,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,19.058655,-98.232300,0.0,0.0,24.0,2.0,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,19.059293,-98.233158,0.0,0.0,2.0,1.0,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,19.059585,-98.233864,0.0,0.0,16.0,0.0,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,19.043115,-98.194066,1.0,0.0,5.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
167,19.042794,-98.193802,1.0,5.0,5.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
168,19.042809,-98.193439,3.0,1.0,1.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
169,19.042558,-98.193818,0.0,1.0,1.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
170,19.042823,-98.193735,1.0,3.0,1.0,2.1,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6

In [ ]:
#realizamos ahora un filtro por columnas de las que son de tipo cualitativos
datoscualitativos=data2.iloc[ : , [0,1,2,3,4,7,8,9,10,11,12,15,17,18,19,20,23,24,25,26,27,28,30,32,34,35,36,37,38,39,40,41,43,44,45,46,47,48,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,79,80,81,82,83,84,85,86,87,88,89,91,92,93,94,95,96,97,98,99,100,101,102,103,104]]
datoscualitativos

,_record_id,_title,_server_updated_at,_updated_by,_geometry,228_store_name,229_store_picture,232_type_of_store,108_does_the_micro_retailer_has_a_barred_window_,99_does_the_micro_retailer_exhibits_products_outside_,...,260_technology_scalable,261_technology_organization,262_technology_serve_customers,263_technology_secure_sales,264_technology_budget,267_technology_investment_customer_preferences,234_willingness_participate_workshop,318_shopkeeper_name,319_shopkeepers_last_name,236_whatsapp
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),Eugene’s Compostura,1 Photo,Tailor,yes,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),no,yes,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),Libélula,1 Photo,Grocery store (aka. nanostore),yes,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),Quality fix,1 Photo,Grocery store (aka. nanostore),no,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),yes,no,...,En desacuerdo,De acuerdo,De acuerdo,Ni de acuerdo ni en desacuerdo,En desacuerdo,En desacuerdo,no,Fernanda,Escobedo,2.224524e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2413f06e-15cc-4a6f-8e83-5224c6824b12,"November 3, 2022",2022-11-03 16:50:48 UTC,Emilio Garza,SRID=4326;POINT(-98.1940658722 19.0431145635),July Store,1 Photo,Grocery store (aka. nanostore),yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,962bf5a6-1eff-4874-a627-9cd8e3ca27b4,"November 3, 2022",2022-11-03 16:28:15 UTC,Emilio Garza,SRID=4326;POINT(-98.1938023854 19.0427938182),Miscelánea rubí,1 Photo,Grocery store (aka. nanostore),no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,9ff658db-4dc5-48b6-aa0b-5c6668bb6720,"November 3, 2022",2022-11-03 16:28:14 UTC,Emilio Garza,SRID=4326;POINT(-98.1934387078 19.0428094171),La fonda,1 Photo,Micro-restaurant (aka. fondita),yes,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,e88aa9c1-dc8b-4180-99a1-2e0118ad905d,"November 3, 2022",2022-11-03 16:18:37 UTC,Francisco Adán,SRID=4326;POINT(-98.193818 19.042558),"Birria de Res ""Hermanos Negreros 2"" estilo Tij...",1 Photo,Micro-restaurant (aka. fondita),no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,bf720ff0-3b7d-47ed-ba49-f5d4bfb7293c,"November 3, 2022",2022-11-03 16:15:13 UTC,Emilio Garza,SRID=4326;POINT(-98.1937349172 19.0428229892),Restaurante el alfeñique,1 Photo,Micro-restaurant (aka. fondita),no,no,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#unimos las columnas de cualitativas y cuantitativas

Datos_limpios= pd.concat([datoscualitativos,data5], axis=1)
Datos_limpios

,_record_id,_title,_server_updated_at,_updated_by,_geometry,228_store_name,229_store_picture,232_type_of_store,108_does_the_micro_retailer_has_a_barred_window_,99_does_the_micro_retailer_exhibits_products_outside_,...,4_number_permanent_employees_last_year,145_number_direct_competitors,272_card_days_receive_money,276_expected_days_informal_credit,36_credit_default_rate,62_frequency_only_services,103_number_own_fridges,24_burnout,172_supplier_frequency,163_number_high_perishable_products
0,dff2998e-af74-4de6-8efd-488aca24e67b,"November 12, 2022",2022-11-12 22:15:10 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.233822273 19.0535362706),Eugene’s Compostura,1 Photo,Tailor,yes,no,...,2.0,3.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,0.0
1,c596412f-4fc2-4983-acba-d9565859e42f,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2341421351 19.0535610353),Frutas y verduras Angy,1 Photo,Grocery store (aka. nanostore),no,yes,...,1.0,4.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
2,5bb632b3-41b5-4fb6-a817-b564e8b45a48,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.232299887 19.058654656),Libélula,1 Photo,Grocery store (aka. nanostore),yes,no,...,2.0,0.0,0.0,10.0,1.0,2.0,1.0,4.0,7.0,60.0
3,6774a0f6-bab4-4a58-bf94-95ad0b7cb438,"November 12, 2022",2022-11-12 22:15:09 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2331576513 19.0592929035),Quality fix,1 Photo,Grocery store (aka. nanostore),no,no,...,1.0,4.0,0.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
4,6cc637fa-3d54-48c7-9499-6de13d0a26aa,"November 12, 2022",2022-11-12 22:15:08 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2338639604 19.0595846029),Artesanías Los Pinos,1 Photo,Grocery store (aka. nanostore),yes,no,...,0.0,0.0,1.0,15.0,1.0,2.0,1.0,4.0,7.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,2413f06e-15cc-4a6f-8e83-5224c6824b12,"November 3, 2022",2022-11-03 16:50:48 UTC,Emilio Garza,SRID=4326;POINT(-98.1940658722 19.0431145635),July Store,1 Photo,Grocery store (aka. nanostore),yes,no,...,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
167,962bf5a6-1eff-4874-a627-9cd8e3ca27b4,"November 3, 2022",2022-11-03 16:28:15 UTC,Emilio Garza,SRID=4326;POINT(-98.1938023854 19.0427938182),Miscelánea rubí,1 Photo,Grocery store (aka. nanostore),no,no,...,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
168,9ff658db-4dc5-48b6-aa0b-5c6668bb6720,"November 3, 2022",2022-11-03 16:28:14 UTC,Emilio Garza,SRID=4326;POINT(-98.1934387078 19.0428094171),La fonda,1 Photo,Micro-restaurant (aka. fondita),yes,no,...,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
169,e88aa9c1-dc8b-4180-99a1-2e0118ad905d,"November 3, 2022",2022-11-03 16:18:37 UTC,Francisco Adán,SRID=4326;POINT(-98.193818 19.042558),"Birria de Res ""Hermanos Negreros 2"" estilo Tij...",1 Photo,Micro-restaurant (aka. fondita),no,no,...,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6
170,bf720ff0-3b7d-47ed-ba49-f5d4bfb7293c,"November 3, 2022",2022-11-03 16:15:13 UTC,Emilio Garza,SRID=4326;POINT(-98.1937349172 19.0428229892),Restaurante el alfeñique,1 Photo,Micro-restaurant (aka. fondita),no,no,...,1.9,3.8,1.0,14.2,1.6,10.5,2.5,4.2,3.0,8.6

In [ ]:
#corroboramos valores nulos y hemos terminado los VALORES NULOS Y OUTLIERS
valores_nulos=Datos_limpios.isnull().sum()
valores_nulos

_record_id                             0
_title                                 0
_server_updated_at                     0
_updated_by                            0
_geometry                              0
                                      ..
62_frequency_only_services             0
103_number_own_fridges                 0
24_burnout                             0
172_supplier_frequency                 0
163_number_high_perishable_products    0
Length: 106, dtype: int64

In [ ]:
#convertir dataframe a excel
Datos_limpios.to_excel("microretailer_mit_lift_lab.xlsx")

In [ ]:
#descargar archivo filtrado en xlsx
from google.colab import files

files.download("microretailer_mit_lift_lab.xlsx")